#social-header .inner a,
.nav-bar .row .col-sm-3 {
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
}

p { color: #555; }

a#scrollUp {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 28px;
    text-align: center;
    background-color: #5e7c89;
}

a#scrollUp i.icofont {
    display: none;
}

a#scrollUp:before {
    font-family: 'FontAwesome';
    content: '\f0d8';
}

/* =============================
:: Header & Social
============================= */

.main_header_area {
    height: auto;
}

.main_header_area #logo-area img {
    max-height: 36px;
    width: auto;
}

#social-header,
#logo-area {
    height: 100px;
    display: table;
    width: 100%;
}

#social-header .inner,
#logo-area .inner {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

#social-header .inner {
    text-align: right;
    padding-right: 30px;
}

#social-header .inner a {
    color: #fff;
    display: inline-block;
    border: 2px solid white; 
    border-color: rgba(0,0,0,0.0);
    width: 30px;
    height: 30px;   
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    margin-right: 15px;
}

#social-header .inner a:last-of-type {
    margin-right: 0px;
    height: 50px;
    width: 50px;
    line-height: 48px;
    margin-left: 10px;
    border-color: #fff;
}

#social-header .inner a:hover {
    opacity: .66;
}

@media (max-width:767px) {
    #logo-area {
        display: none;
    }
}

/* =============================
:: Mobile Menu Panel
============================= */

#dimmer-switch {
    background-color: rgba(0,0,0,0.65);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    top: 0;
}

#mobile-menu-panel {
    background-color: #c5d600;
    z-index: 9999;
}

#mobile-menu-panel .icon-wrap {
    display: table;
    width: 100%;
    margin: 0;
    text-align: left;
    height: 60px;
    padding-left: 15px;
}

#mobile-menu-panel .icon-wrap .inner {
    display: table-cell;
    vertical-align: middle;
}

#mobile-menu-panel .icon-wrap .inner a {
    color: #fff;
    display: block;
    margin: 0;
}

#mobile-menu-panel .icon-wrap .inner .link-text {
    color: #fff;
    display: inline-block;
    padding-left: 10px;
    font-family: Oswald, sans-serif;
}

#mobile-menu-panel .icon-wrap .inner .fa {
    display: inline-block;
    font-size: 26px;
    margin-bottom: 8px;
    border: 2px solid;
    width: 50px;
    height: 50px;
    line-height: 46px;
    border-radius: 10px;
    text-align: center;
}

div#big-icon-links {
    padding-top: 15px;
}

#mobile-menu-panel #mobile-menu-close {
    display: none;
}

a#menu-panel-close img {
    position: absolute;
    left: -50px;
    top: 40px;
    display: none;
}

.push {
    position: relative;
}



/* =============================
:: Nav Bar
============================= */

.nav-bar {
    position: absolute;
    height: 100px;
    bottom: 0;
}

@media (max-width: 767px) {
    .nav-bar {
        height: auto;
    }
    .nav-bar .nav-bar-cell {
        height: 65px !important;
    }
}

.nav-bar .row .col-sm-3 {
    background-color: #c5d600;
    border-top: 2px solid #fff;
    border-left: thin solid #fff;
    border-right: thin solid #fff;
}

/* ushape.com */
.nav-bar .row a:nth-of-type(1) .col-sm-3:hover {
    background-color: #fec212;
}

/* shapedaluminumbottles.com  */
.nav-bar .row a:nth-of-type(2) .col-sm-3:hover {
    background-color: #5e7c89;
}

/* gourmetfoodpkg.com */
.nav-bar .row a:nth-of-type(3) .col-sm-3:hover {
    background-color: #5ba345;
}

/* toplesslaminatetube.com */
.nav-bar .row a:nth-of-type(4) .col-sm-3:hover {
    background-color: #e56c31;
}

/* shapedaluminumbottles.com */
.nav-bar .row .col-sm-4:hover {
    /* background-color: #5e7c89; */
}

/* gourmetfoodpkg.com */
.nav-bar .row .col-sm-4:hover {
    /* background-color: #5ba345;*/
}

/* toplesslaminatetube.com */
.nav-bar .row .col-sm-4:hover {
    /* background-color: #e56c31;*/
}


.nav-bar .nav-bar-cell {
    display: table;
    width: 100%;
    height: 100px;
}

.nav-bar .nav-bar-cell .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-family: Oswald, sans-serif;
    font-weight: 100;
    font-size: 32px;
}

/* =============================
:: Video Hero
============================= */

#home.welcome_slider {
    background-color: #000;
}

#home.welcome_slider {
    height: 100%;
/*    position: relative;*/
}

/*

#home.welcome_slider .single_slide .slide-content img {
    padding-bottom: 60%;
    width: 250px;
}
*/

#home.welcome_slider .single_slide .slide-content {
    display: none;
}

@media (max-width: 767px) {
    #home.welcome_slider .single_slide .slide-content {
        display: block;
    }
}

div#tubular-container {
    position: absolute !important;
    top: 0 !important;
    opacity: 0;
}

div#tubular-shield {
/*    background-color: rgba(0,0,0,.33);*/
    /*background: rgba(17, 17, 17, 0.5);*/
}

@media (max-width:767px) {
    iframe#tubular-player{
        height: calc(100% - 268px) !important;
    }
}

/* =============================
:: Why Section
============================= */

#why-section {
    position: relative;
}

#why-section > .inner {
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#why-section .product-image {
    text-align: center;
    margin-bottom: 50px;
}

#why-section .product-title {
    font-family: Teko, sans-serif;
    font-weight: 300;
    font-size: 80px;
    line-height: inherit;
    margin-bottom: 30px;
}

#why-section .product-subtitle {
    font-weight: 300;
    font-size: 24px;
}

.why-image {
    text-align: center;
}

#why-section .product-features .list-item {
    color: #363636;
    font-weight: 300;
    position: relative;
    z-index: 1;
    padding-left: 30px;
    margin-bottom: 24px;
}

#why-section .product-features .list-item:before {
    color: #5c666f;
    position: absolute;
    z-index: 9;
    font-family: 'FontAwesome';
    content: '\f005';
    top: -1px;
    left: 0;
}

@media (max-width: 767px) {
    #why-section .product-title {
        text-align: center;
    }

    #why-section .product-subtitle {
        text-align: center;
    }
}

div#tubular-player {
    width: 100%;
    height: 100%;
    background: #5c666f;
    display: none;
}

div#tubular-player .table-wrap {
    width: 100%;
    height: 100%;
    display: table;
}

div#tubular-player .table-wrap .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div#tubular-player .table-wrap .inner img {
    padding: 30px;
    margin-bottom: 130px;
}

header.header_area {
    z-index: 999;
}