#social-header .inner a,
.nav-bar .row .col-sm-4 {
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
}

p { color: #555; }

a#scrollUp {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 28px;
    text-align: center;
    background-color: #5ba345;
}

a#scrollUp i.icofont {
    display: none;
}

a#scrollUp:before {
    font-family: 'FontAwesome';
    content: '\f0d8';
}

/* =============================
:: Header & Social
============================= */

.main_header_area {
    height: auto;
}

.main_header_area #logo-area img {
    max-height: 36px;
    width: auto;
}

#social-header,
#logo-area {
    height: 100px;
    display: table;
    width: 100%;
}

#social-header .inner,
#logo-area .inner {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}

#social-header .inner {
    text-align: right;
    padding-right: 30px;
}

#social-header .inner a {
    color: #fff;
    display: inline-block;
    border: 2px solid white; 
    border-color: rgba(0,0,0,0.0);
    width: 30px;
    height: 30px;   
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    margin-right: 15px;
}

#social-header .inner a:last-of-type {
    margin-right: 0px;
    height: 50px;
    width: 50px;
    line-height: 48px;
    margin-left: 10px;
    border-color: #fff;
}

#social-header .inner a:hover {
    opacity: .66;
}

@media (max-width:767px) {
    #logo-area {
        display: none;
    }
}

/* =============================
:: Mobile Menu Panel
============================= */

#dimmer-switch {
    background-color: rgba(0,0,0,0.65);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    top: 0;
}

#mobile-menu-panel {
    background-color: #5ba345;
    z-index: 9999;
}

#mobile-menu-panel .icon-wrap {
    display: table;
    width: 100%;
    margin: 0;
    text-align: left;
    height: 60px;
    padding-left: 15px;
}

#mobile-menu-panel .icon-wrap .inner {
    display: table-cell;
    vertical-align: middle;
}

#mobile-menu-panel .icon-wrap .inner a {
    color: #fff;
    display: block;
    margin: 0;
}

#mobile-menu-panel .icon-wrap .inner .link-text {
    color: #fff;
    display: inline-block;
    padding-left: 10px;
    font-family: Oswald, sans-serif;
}

#mobile-menu-panel .icon-wrap .inner .fa {
    display: inline-block;
    font-size: 26px;
    margin-bottom: 8px;
    border: 2px solid;
    width: 50px;
    height: 50px;
    line-height: 46px;
    border-radius: 10px;
    text-align: center;
}

div#big-icon-links {
    padding-top: 15px;
}

#mobile-menu-panel #mobile-menu-close {
    display: none;
}

a#menu-panel-close img {
    position: absolute;
    left: -50px;
    top: 40px;
    display: none;
}

.push {
    position: relative;
}



/* =============================
:: Nav Bar
============================= */

.nav-bar {
    position: absolute;
    height: 100px;
    bottom: 0;
}

@media (max-width: 767px) {
    .nav-bar {
        height: auto;
    }
    .nav-bar .nav-bar-cell {
        height: 65px !important;
    }
}

.nav-bar .row .col-sm-4 {
    background-color: rgb(92,102,111);
    border-top: 2px solid #fff;
    border-left: thin solid #fff;
    border-right: thin solid #fff;
}

/* ushape.com */
.nav-bar .row .col-sm-4:hover {
    background-color: #5ba345;
}

/* shapedaluminumbottles.com */
.nav-bar .row .col-sm-4:hover {
    /* background-color: #5e7c89; */
}

/* gourmetfoodpkg.com */
.nav-bar .row .col-sm-4:hover {
    /* background-color: #5ba345;*/
}

/* toplesslaminatetube.com */
.nav-bar .row .col-sm-4:hover {
    /* background-color: #e56c31;*/
}


.nav-bar .nav-bar-cell {
    display: table;
    width: 100%;
    height: 100px;
}

.nav-bar .nav-bar-cell .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-family: Oswald, sans-serif;
    font-size: 32px;
}

/* =============================
:: Video Hero
============================= */

#home.welcome_slider {
    background-color: #000;
}

#home.welcome_slider {
    height: 100%;
/*    position: relative;*/
}

/*

#home.welcome_slider .single_slide .slide-content img {
    padding-bottom: 60%;
    width: 250px;
}
*/

#home.welcome_slider .single_slide .slide-content {
    display: none;
}

@media (max-width: 767px) {
    #home.welcome_slider .single_slide .slide-content {
        display: block;
    }
}

div#tubular-container {
    position: absolute !important;
    top: 0 !important;
    opacity: 0;
}

div#tubular-shield {
/*    background-color: rgba(0,0,0,.33);*/
    /*background: rgba(17, 17, 17, 0.5);*/
}

@media (max-width:767px) {
    iframe#tubular-player{
        height: calc(100% - 201px) !important;
    }
}

/* =============================
:: Why Section
============================= */

#why-section {
    position: relative;
    padding: 50px 0 100px 0;
}

#why-section > .inner {
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#why-section .product-image {
    text-align: center;
    margin-bottom: 50px;
}

#why-section .product-title {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 49px;
    line-height: inherit;
    margin-bottom: 30px;
}

p.product-tagline {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 300;
}

#why-section .product-subtitle {
    font-weight: 400;
    font-size: 28px;
    margin-top: 50px;
}

#why-section .product-features p {
    font-size: 21px;
    line-height: normal;
    font-weight: lighter;
}

.why-image {
    text-align: center;
}

#why-section .product-features .list-item {
    color: #363636;
    font-weight: lighter;
    position: relative;
    font-size: 21px;
    z-index: 1;
    padding-left: 30px;
    margin-bottom: 24px;
}

#why-section .product-features .list-item:before {
    color: #5c666f;
    position: absolute;
    z-index: 9;
    font-family: 'FontAwesome';
    content: '\f111';
    top: 4px;
    left: 0;
    font-size: 10px;
}

#why-section .product-features .list-item.no-bullet:before {
    visibility: hidden;
}

#why-section .product-features .list-item.no-bullet {
    padding-left: 0;
    font-weight: 400;
    font-size: 28px;
}

@media (max-width: 767px) {
    #why-section .product-title {
        text-align: center;
    }

    #why-section .product-subtitle {
        text-align: center;
    }
    p.product-tagline {
        text-align: center;
    }
}

#specdoc-image,
#infographic-image {
    display: none;
}

div#tubular-player {
    width: 100%;
    height: 100%;
    background: #5c666f;
    display: none;
}

div#tubular-player .table-wrap {
    width: 100%;
    height: 100%;
    display: table;
}

div#tubular-player .table-wrap .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div#tubular-player .table-wrap .inner img {
    padding: 0 30px 100px 30px;
}

header.header_area {
    z-index: 999;
}

#spec-points {
    background-color: rgba(0,0,0,0.65);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    top: 0;
}

#spec-points .table-wrap {
    display: table;
    width: 100%;
    height: 100%;
}

#spec-points .table-wrap .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#spec-points .table-wrap .inner  > div {
    display: none;
}

div#spec-points .bullet-body .inner-body {
    background-color: #fff;
    display: inline-block;
    padding: 70px 50px 30px 50px;
    border-radius: 5px;
    position: relative;
    font-family: Oswald, sans-serif;
    font-size: 21px;
    line-height: normal;
}

div#spec-points .bullet-body .inner-body .number {
    position: absolute;
    top: 20px;
    color: #fff;
    left: 50%;
    background-color: #5f6772;
    width: 30px;
    height: 30px;
    line-height: 32px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-left: -15px;
}

div#specdoc-image {
    max-width: 1000px;
    margin: 0 auto;
}

div#spec-points .bullet-body .inner-body h3 {
    margin: 0;
    font-family: Oswald, sans-serif;
    font-size: 21px;
}

div#spec-points .bullet-body .inner-body ul {
    margin-top: 20px;
}

div#spec-points .bullet-body .inner-body span.light {
    font-weight: 100;
}

div#specdoc-image .instructions {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
}

div#specdoc-image .instructions .fa {
    display: none !important;
    right: 7%;
    width: 40px;
    height: 40px;
    bottom: 0;
    color: #fff;
    background-color: rgb(92,102,111);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    div#tubular-player .table-wrap .inner img {
        padding-bottom: 201px;
    }
    div#specdoc-image .instructions {
        padding-right: 0;
        text-align: center;
    }
    div#specdoc-image .instructions .fa {
        right: 8%;
    }
}


/* Final Edits */

div#specdoc-image img#product-map-image {
    max-height: 600px;
}

div#specdoc-image img.extra-image {
    position: absolute;
    bottom: 0;
    right: 0;
    /*max-width: 700px;*/
    max-width: 48%;
    padding-right: 15%;
}

div#specdoc-image {
    text-align: left;
}

@media (max-width: 767px) {
    #why-section {
        padding: 50px 0 100px 0;
    }
    div#specdoc-image img.extra-image {
        position: relative;
        max-width: 100%;
        max-height: 400px;
    }
    div#specdoc-image {
        text-align: center;
    }
    div#specdoc-image .instructions .fa {
        margin-left: auto;
        margin-right: auto;
    }
    div#specdoc-image img.extra-image {
        padding-right: 0;
    }
}

@media (max-width: 1199px) {
    div#specdoc-image img.extra-image {
        max-width: 54%;
    }   
}

@media (max-width: 991px) {
    div#specdoc-image img.extra-image {
        max-width: 42%;
        padding-right: 0;
    }   
}

@media (max-width: 767px) {
    div#specdoc-image img.extra-image {
        max-width: 100%;
        padding-right: 0;
    }   
}


div#mute-button-box {
    display: inline-block;
    height: 40px;
    padding: 0 20px;
    line-height: 38px;
    border-radius: 10px;
    border: 2px solid #fff;
    position: absolute;
    top: -60px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
    background-color: rgb(92,102,111);
    font-weight: 100;
}

div#mute-button-box a {
    color: #fff;
}

div#mute-button-box img {
    max-height: 20px;
    padding-bottom: 4px;
    margin-right: 5px;
}

@media (min-width: 768px) {

    #why-section .product-title {
        margin-top: 40px;
    }

}